html{
    font-size: 62.5%;
}
@media(max-width:1080px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
body{
    font-family: 'Merriweather', serif;
    background-color: #E4F9F5;
}
.heard{
    text-align: center;
    height: 3.5rem;
    padding-top: 1rem;
    background-color: #2874f0;
}
.header{
    margin: 20.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    font-family: monospace;
}
.header:hover{
    color: #27eeee;
    text-decoration: underline;
}
.header1{
    margin: 20.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-family: monospace;
}
.welcome{
    padding-top: 5.1rem;
    font-size: 10rem;
    font-family: 'Courier New', Courier, monospace;
}
.hello{
    background-color: #9dfdff;
    height: 18rem;
    padding-bottom: 5rem;
    margin-top: -6.5rem;
}
.mainfooter{
    color: white;
    background-color: #001d33;
    padding: 1rem;
}
.contact{
    font-family: monospace;
    width: 40rem;
    font-size: 2.8rem;
    margin-left: 20.6rem;
    padding: 1rem;
}
.touch{
    color: white;
    text-decoration: none;
    margin: 1.5rem;
}
.footertouch{
    color: white;
    font-size: 2rem;
    font-family: monospace;
    margin-left: 67rem;
}
.email{
    margin-left: 22rem;
    font-size: 2rem;
    font-family: monospace;
}
.touchnav{
    padding: 2.4rem;
}
.email1{
    color: white;
    text-decoration: none;
}
.email:hover{
    color: gray;
    text-decoration: underline;
}
.email1:hover{
    color: gray;
    text-decoration: underline;
}
.touch:hover{
    color: gray;
    text-decoration: underline;
}
.about{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}
.copyright{
    background-color: #08395f;
    padding-top: 0.7rem;
    color: white;
    text-align: center;
    height: 3.5rem;
    font-size: 2rem;
    font-family: system-ui;
    margin-left: -0.8rem;
    margin-right: -0.8rem;
}
.aboutpara{
    color: gray;
    font-family: monospace;
    font-size: 2rem;
    margin: 1.5rem;
    padding: 0.5rem;
}
.social{
    font-family: monospace;
    width: 40rem;
    font-size: 2.8rem;
    padding: 1rem;
    margin-left: 76rem;
}
.item1{
    width: 30rem;
    margin: 0.5rem;
    display: inline-block;
    border: 0.3rem solid gray;
}
.item1-img{
    height: 30rem;
}
.item1-name{
    width: 29.7rem;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    background: aqua;
    height: 6rem;
    padding-left: 0.3rem;
    margin-top: -0.5rem;
    padding-top: 1.8rem;
}
.item1-link{
    text-decoration: none;
    color: black;
}
.item1-link:hover{
    color: rgb(194, 139, 72);
}
.item2-img{
    height: 29.7rem;
}
.item-container{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 11rem;
}
.item3-img{
    height: 33.3rem;
    width: 35.3rem;
}
.item2{
    height: 37rem;
    display: inline-block;
    border: 0.3rem solid gray;
    width: 35.3rem;
    margin: 0.5rem;
}
.item2-name{
    width: 34.8rem;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    background: aqua;
    height: 1.9rem;
    text-align: center;
    padding-left: 0.5rem;
    margin-top: -0.4rem;
    padding-top: 2rem;
}