html{
    font-size: 62.5%;
}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    html{
        font-size: 45%;
    }
}

body{
    font-family: 'Merriweather', serif;
    background-color: #E4F9F5;
}
.heard{
    text-align: center;
    height: 3.5rem;
    padding-top: 1rem;
    background-color: #2874f0;
}
.copyright{
    background-color: #08395f;
    padding-top: 0.7rem;
    color: white;
    text-align: center;
    height: 3.5rem;
    font-size: 2rem;
    font-family: system-ui;
    margin-left: -0.8rem;
    margin-right: -0.8rem;
}
.header{
    margin: 20.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    font-family: monospace;
}
.header:hover{
    color: #27eeee;
    text-decoration: underline;
}
.header1{
    margin: 20.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-family: monospace;
}
.welcome{
    padding-top: 5.1rem;
    font-size: 12rem;
    font-family: 'Courier New', Courier, monospace;
}
.hello{
    background-color: #9dfdff;
    height: 20rem;
    padding-bottom: 5rem;
    margin-top: -8rem;
}
.newarrival{
    margin-top: -0.3rem;
    background: aquamarine;
    height: 12rem;
    padding-top: 3rem;
    font-size: 8rem;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
hr{
    border: dotted #bef3f3 0.6rem;
    border-bottom: none;
    width: 40%;
    margin-bottom: 9rem;
}
.statement{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.store-link{
    background-color: #2874f0;
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    color: black;
    text-decoration: none;
}
.store-link:hover{
    background-color: #001d33;
    color: #27eeee;
}
.statement-line{
    font-size: 2.4rem;
}
.social{
    font-family: monospace;
    width: 40rem;
    font-size: 2.8rem;
    padding: 1rem;
    margin-left: 76rem;
}
.aboutpara{
    color: gray;
    font-family: monospace;
    font-size: 2rem;
    margin: 1.5rem;
    padding: 0.5rem;
}
.mainfooter{
    color: white;
    background-color: #001d33;
    margin-top: -6rem;
    padding: 1rem;
}
.contact{
    font-family: monospace;
    width: 40rem;
    font-size: 2.8rem;
    margin-left: 20.6rem;
    padding: 1rem;
}
.touch{
    color: white;
    text-decoration: none;
    margin: 1.5rem;
}
.footertouch{
    color: white;
    font-size: 2rem;
    font-family: monospace;
    margin-left: 67rem;
}
.email{
    margin-left: 22rem;
    font-size: 2rem;
    font-family: monospace;
}
.touchnav{
    padding: 2.4rem;
}
.email1{
    color: white;
    text-decoration: none;
}
.email1:hover{
    color: gray;
    text-decoration: underline;
}
.touch:hover{
    color: gray;
    text-decoration: underline;
}
.about{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}
.slider-frame{
    overflow: hidden;
    width: 120rem;
    height: 68rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
}
@keyframes slide_animation{
    0%{left: 0rem;}
    10%{left: 0rem;}
    20%{left: 120rem;}
    30%{left: 120rem;}
    40%{left: 240rem;}
    50%{left: 240rem;}
    60%{left: 120rem;}
    70%{left: 120rem;}
    80%{left: 0rem;}
    90%{left: 0rem;}
    100%{left: 0rem;}
}
.slide-images{
    background-color: white;
    width: 360rem;
    height: 80rem;
    margin: 0 0 0 -217rem;
    position: relative;
    animation-name: slide_animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
.img-container{
    height: 80rem;
    width: 120rem;
    position: relative;
    float: left;
}